@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300);
body {
	font-family: 'Source Sans Pro', sans-serif;
	padding: 0px !important;
}
html{ position:relative; min-height:100%;}
.navbar-brand {
	float: left;
	font-size: 18px;
	height: 50px;
	line-height: 20px;
	padding: 10px;
}
button{ outline:none !important;}
button:active{ outline:none !important;}
a.navbar-brand img {
	width: 171px; outline:none;
}
a{ outline:none;}
a:active{ outline:none !important;}
a:foucs{ outline:none !important;}
a:hover{ outline:none;}
.fa{ outline:none;}
.fa:active{ outline:none;}
.navbar.navbar-default.navbar-fixed-top.sticky a.navbar-brand img {
	width: 171px;
}
.button{ outline:none !important;}
.comment-textarea {
  height: 90px !important;
  width: 350px !important;
}.form-control-feedback.fv-icon-no-label.fa.fa-check{ top:0 !important;}
.form-control-feedback.fa-cc-visa.fa.fa-check{ top:0 !important;}

.account_form {
  float: left;
  padding: 100px 0 50px;
  width:100%;
}
.parascroll {
	position: relative;
	transform: translate3d(0px, 0px, 0px);
	overflow: hidden;
}
.parascroll {
	min-height: 572px;
}
.manage-heros-table h1 {
  color: red;
  font-size: 24px;
  margin: 10px 0 10px 10px;
  text-align: left;
}
.panel-heading.update {
  background: #fff none repeat scroll 0 0;
}
#update_hour h5{ margin:4px 0; font-size:17px;}
#ci_msg {
  margin-top: 20px;
}
.slider_back .scrollable {
	background: rgba(0, 0, 0, 0) url("../img/template_images/home_back2.jpg") no-repeat scroll 50% 58% / cover;
	height: 820px;
	width: 100%;
}
.slide_cont {
	margin-top: 189px;
}
.slide_cont h2 {
	color: #ffffff;
	font-size: 46px;
	font-weight: bold;
	margin-bottom: 14px;
	text-transform: uppercase;
	font-family: 'Source Sans Pro', sans-serif;
}
.slide_cont p {
	color: #ffffff;
	font-size: 18px;
	margin-bottom: 40px;
}
.navbar.navbar-default.navbar-fixed-top {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	border-bottom: medium none;
// set animation -webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
.navbar-form.navbar-left.cncel_assign{ float:none !important; padding:0;}
.navbar.navbar-default.navbar-fixed-top.sticky {
	position: fixed;
	font-size: 24px;
	line-height: 48px;
	height: auto;
	width: 100%;
	background: #333b53;
	text-align: left;
}
.navbar.navbar-default.navbar-fixed-top.sticky .nav.navbar-nav.nav_log {/**margin-top:5px; padding:4px**/
}
.navbar-nav {
  float: left;
  margin-right:0px;
}
.btn.btn-default.btn-xs.reset_button {
  background: #9acd32 none repeat scroll 0 0;
  border: medium none;
  border-radius: 20px;
  color: #fff;
  font-size: 14px;
  margin-top: 6px;
  padding: 7px 15px;
}
#heros a {
  color:#000;
}
#heros a:focus{ color:#9acd32 !important; outline:none;}
#heros a:active{
  color:#9acd32 !important; outline:none;
}
#heros a:hover{
  color:#9acd32 !important;
}
#custom-search-form .serch{ width:180px; box-shadow:none; }
.navbar-header {
	width: 100%;
}
.nav.navbar-nav.nav_log {
	padding: 15px 0;
	margin-top: 8px;
	width: auto;
	float: right;
}
.nav.navbar-nav.nav_log li {
	background: #9acd32 none repeat scroll 0 0;
	border-radius: 28px;
	color: #ffffff;
	font-size: 20px;
	line-height: 23px;
	padding: 7px 28px 7px 30px;
	position: relative;
}
.nav.navbar-nav.nav_log li {
	background: #9acd32 none repeat scroll 0 0;
	border-radius: 28px;
	color: #ffffff;
	font-size: 20px;
	line-height: 23px;
	margin-right: 15px;
	padding: 7px 28px 9px 30px;
	position: relative;
}
.nav.navbar-nav.nav_log li a {
	color: #ffffff;
	display: inline-block;
	padding: 0;
}
.content {
	padding: 30px 0;
}
.content .container {
	position: relative;
}
.content h2 {
	color: #222222;
	font-size: 26px;
	font-weight: normal;
	margin-bottom: 10px;
}
.content p {
	color: #888888;
	font-size: 16px;
	line-height: 22px;
}
.content .col-md-4 {
	text-align: center;
}
.content img {
	height: 134px;
	text-align: center;
	width: auto;

}
.top_header h1 {
	text-align: center;
	font-weight: normal;
	margin-bottom: 0;
	color: #4A5255;
}
.top_header h1 span {
	color: #9acd32;
}
.top_header p {
	text-align: center;
	font-weight: normal;
	margin-bottom: 20px
}
.top_header {
	margin-bottom: 48px;
}
.btton_radio {
  float: left !important;
  width: 50%;
}
#customerPayment_old{ text-align:left !important; width:100%;}
.btton_radio > h3{ font-size:14px; margin:0;}
body #new_card{ width:auto !important; float:left;}
body #old_card { width:auto !important; float:left;}
.btton_radio{ float:left !important;}
.top_header h1 img {
	position: relative;
	top: -3px;
	vertical-align: bottom;
	width: 109px;
}
.carousel.slide {
	min-height: 350px;
	padding: 54px 0 24px 0;
}
.slide_cont > a {
	display: inline-block;
	margin-top: 19px;
}
.testimonials .scrollable {
	background: rgba(0, 0, 0, 0) url("../img/template_images/home_back.jpg") no-repeat scroll 53% 19%;
	height: 820px;
	width: 100%;
}
.carousel-control.left {
	background: none;
}
.testimonials.parascroll {
	min-height: 323px;
	padding: 30px 0;
}
.carousel-control.right {
	background: none;
}
.carousel-inner .item p {
	color: #ffffff;
	font-size: 24px;
	font-style: italic;
	font-weight: lighter;
	text-align: center;
	text-shadow: none;
	margin-bottom: 18px;
}
.cd-author {
	text-align: center;
}
.cd-author ul {
	list-style-type: none;
	padding-left: 0;
}
.test_cont {
	width: 70%;
	margin: 0 auto;
	text-align: center;
}
.test_cont i {
	color: #ffffff;
	font-size: 67px;
	margin-bottom: 13px;
	text-align: center;
}
.testimonials.parascroll h2 {
	color: #ffffff;
	font-size: 39px;
	font-weight: lighter;
	margin-top: 45px;
	text-align: center;
	text-shadow: none;
}
.cd-author-info > li {
	color: #ffffff;
	font-size: 18px;
	font-weight: bold;
	text-shadow: none;
}
.form_section {
	background: #f6f8fa none repeat scroll 0 0;
	padding: 25px 0;
	position: relative;
}
.cta-3 h3 {
	margin-bottom: 40px;
}
.cta-3 p {
	font-style: italic;
	padding-right: 96px;
	text-align: left;
	font-size: 16px;
}
form {
	display: inline-block;
	position: relative;
}
.cta-3 form {
	border-radius: 3px;
	padding: 40px;
	background: #fff;
}
.cta-3 form h6 {
	margin-bottom: 20px;
}
.cta-3 form input {
	width: 100%;
}
form.form-email {
	width: 100%;
}
input[type="text"], input[type="email"] {
	background: #ffffff none repeat scroll 0 0;
	border: 1px solid #cccccc;
	border-radius: 0;
	color: #888888;
	font-size: 16px;
	font-weight: 400;
	height: 44px;
	line-height: 22px;
	margin-top: -1px;
	padding-left: 10px;
	width: 100%;
}
#view_button {
  background: #9acd32 none repeat scroll 0 0;
  border: medium none;
  border-radius: 20px;
  height: 35px;
  margin-top: 20px;
  padding: 0 30px;
}
textarea {
	background: #ffffff none repeat scroll 0 0;
	border: 1px solid #cccccc;
	border-radius: 3px;
	color: #888888;
	font-size: 16px;
	font-weight: 400;
	height: 94px;
	line-height: 48px;
	padding-left: 16px;
	width: 100% !important;
	margin-top: -1px;
}
select {
	background: #ffffff none repeat scroll 0 0;
	border: 1px solid #eeeeee;
	border-radius: 3px;
	color: #888888;
	font-size: 16px;
	font-weight: 400;
	height: 43px;
	line-height: 48px;
	padding-left: 16px;
	width: 100%;
}
.cta-3.bg-secondary form {
	background: #ffffff none repeat scroll 0 0;
	border-radius: 3px;
	padding: 40px;
}
.circle_mat {
	background: #9acd32 none repeat scroll 0 0;
	border-radius: 33px;
	display: inline-block;
	height: 50px;
	line-height: 54px;
	position: absolute;
	right: 0;
	text-align: center;
	top: -54px;
	width: 50px;
}
.circle_mat i {
	color: #ffffff;
	font-size: 21px;
	text-align: center;
}

.form-control-feedback.fa.fa-times{ top:0 !important; }
.form-control-feedback.fa.fa-times.glyphicon-ok{ top:0; }
.form-control-feedback.fa.fa-times.glyphicon-remove{ top:0;}
.actions > a{ color:#000;}
.heding1_tab h2 {
  margin: 0;
}
.table.hero_info td {
  word-wrap: break-word;
}
#customers td {
  word-wrap: break-word;
}
.crete_hero {
  margin: 10px 0 !important;
  padding: 0 !important;
}
.crete_custmr{ padding:0 !important; margin-top:0 !important;}
input[type="submit"] {
	background: #9acd32 none repeat scroll 0 0;
	border: 1px solid #9acd32;
	border-radius: 29px;
	color: #ffffff;
	font-size: 18px;
	font-weight: 500 !important;
	height: 48px;
	line-height: 48px;
	margin-top: 20px;
	padding: 0 64px;
	text-align: center;
	transition: all 0.3s ease 0s;
}
#customers a {
  color: #000;
}
#customers a:hover{ color:#9acd32 !important;}
#customers a:focus{ color:#9acd32 !important;}
#customers a:active{ color:#9acd32 !important;}
.row.heding1_tab {
  margin-top: 15px;
}
.cta-3 form p {
	font-style: normal;
	padding-left: 0;
}
.left_text h3 {
	font-size: 40px;
	font-weight: lighter;
	margin-top: 58px;
}
.footer {
	background: #333b53 none repeat scroll 0 0;
	height: 76px; position:absolute; bottom:0; width:100%;
}
.social-footer ul {
	list-style-type: none;
}
.social-footer li {
	float: left;
	margin-right: 7px;
}
.social-footer li a {
	background: #ffffff none repeat scroll 0 0;
	border-radius: 35px;
	color: #333b53;
	display: inline-block;
	font-size: 21px;
	height: 35px;
	line-height: 35px;
	padding: 0;
	text-align: center;
	width: 35px;
}
.social-footer {
	float: right;
	margin-top: 23px;
	text-align: right;
}
.copyright {
	color: #ffffff;
	margin-top: 29px;
}
.media > li {
	float: left;
	list-style-type: none;
	width: 23%;
	padding: 12px;
}
.media > ul {
	padding: 0;
}
.media {
	padding: 0;
}
.media > li img {
	width: 100%;
}
.popup .modal-dialog {
	border-radius: 0;
	width: 450px;
}
.popup .modal-dialog .modal-content {
	border-radius: 0;
}
.popup .modal-dialog .modal-content .modal-header {
	background: #f6f8fa;
}
.tech_wizard.lgo {
	background: #f2f2f2 none repeat scroll 0 0;
	padding: 20px 0;
}
.tech_wizard.lgo h1 {
	margin-bottom: 24px;
	margin-top: 0;
}
.tech_wizard.lgo .top_header {
	margin-bottom: 11px;
}
.btn.btn-success.btn_pop {
	background: #ffffff none repeat scroll 0 0;
	border: 2px solid #ffffff;
	border-radius: 30px;
	color: #4A5255;
	font-size: 24px;
	font-weight: lighter;
	margin-top: 0px;
	padding: 10px 49px;
	font-weight: bold;
}
.btn.btn-success.btn_pop:hover {
	background: #9acd32;
	border: 2px solid #9acd32;
	color: #fff;
}
.carousel-control {
	bottom: inherit;
	color: #ffffff;
	font-size: 20px;
	left: 0;
	opacity: 0.5;
	position: absolute;
	text-align: center;
	top: 38%;
	width: 7%;
}
.nav.nav-tabs li {
	margin-bottom: 16px;
	margin-right: 15px;
	width: 48%;
}
.nav.nav-tabs li img {
	width: 100%;
	transition: all .2s ease-in-out;
}
.nav.nav-tabs li img:hover {
	transform: scale(1.1);
}
.tab-pane img {
	border: 1px solid #cccccc;
	height: 546px;
	width: 100%;
}
.tech_wizard {
  margin-bottom: 60px;
  padding: 40px 0;
}
.nav.nav-tabs li a {
	border: medium none;
	border-radius: 0;
	box-shadow: 0 0 4px #cccccc;
	padding: 0;
}
.nav.nav-tabs li:nth-child(2n) {
	margin-right: 0;
}
.nav.nav-tabs {
	border-bottom: medium none;
}
#wizards.popup .modal-dialog {
	border-radius: 0;
	width: 97%;
	max-width: 800px;
}
#wizards.popup .close {
	color: #000;
	float: right;
	font-size: 40px;
	font-weight: 700;
	line-height: 1;
	opacity: 0.2;
	position: relative;
	right: 10px;
	text-shadow: 0 1px 0 #fff;
	top: 0;
	z-index: 999999;
}
#forgot_pas {
  float: left;
  margin-left: 28px;
  margin-top: 15px; cursor:pointer;
}
#login_btn_popup{ margin:0 !important;}
#wizards.popup .close:focus, #wizards.popup .close:hover {
	color: #000;
	cursor: pointer;
	opacity: 0.5;
	text-decoration: none;
}
/*form styles*/
#msform {
	width: 100%;
	margin: 50px auto;
	text-align: center;
	position: relative;
}
.text{ width:90%;}
#msform fieldset {
	background: none repeat scroll 0 0 white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	box-sizing: border-box;
	margin: 0;
	/**padding: 20px 30px;**/
	padding-bottom: 20px;
	position: absolute;
	width: 100%;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}
/*inputs*/
#msform input, #msform textarea {
	padding: 0 15px;
	border: 1px solid #ddd;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	color: #000;
	font-size: 13px; line-height:24px;
}
/*buttons*/


#msform .action-button {
	background: none repeat scroll 0 0 #9acd32;
	border: 0 none;
	border-radius: 41px;
	color: white;
	cursor: pointer;
	font-size: 19px !important;
	font-weight: normal;
	margin: 0px 5px 0px;
	padding: 8px 5px;
	width: 160px;
	text-align: center; outline:none;
}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn:active:focus, .btn:focus {
  outline: medium none !important;
  outline-offset: -2px;
}
a:active, a:hover {
  outline: 0 none !important;
}
#msform .action-button:hover, #msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #9acd32;
}
/*headings*/
.fs-title {
	color: #646464;
	font-size: 20px;
	margin-bottom: 0;
}
#email_frget {
  margin-left: 200px;
  width: 50%;
}
.col-sm-5.vbb {
  width: 90%;
}
.col-sm-6.text-right.mm {
  float: left;
  width: 59%;
}
.fs-subtitle {
  color: #353535;
  font-size: 42px;
  font-weight: normal;
  margin-bottom: 35px;
  margin-top: 5px;
}
.speaker-icons i {
	font-size: 45px;
	color: #9acd32;
}
.speaker_heading h3 {
	color: #353535;
	font-size: 20px;
}
.speaker-inner {
	border: 2px solid #353535;
	border-radius: 6px;
	padding: 20px 10px;
}
.speaker-inner.active {
	border: 2px solid #9acd32;
	cursor: pointer;
}
.speaker-inner:hover {
	border: 2px solid #9acd32;
	cursor: pointer;
}
.speaker-inner:hover .speaker_heading h3 {
	color: #9acd32;
}
.speaker-inner.active .speaker_heading h3 {
	color: #9acd32;
}
/*hover-icon*/
.speaker-inner:hover .speaker-icons.setup-install-hover {
	display: block;
}
.speaker-inner:hover .speaker-icons.setup-install {
	display: none;
}
.speaker-inner:hover .speaker-icons.troubleshooting-hover {
	display: block;
}
.speaker-inner:hover .speaker-icons.troubleshooting {
	display: none;
}
.speaker-inner:hover .speaker-icons.product-advice-hover {
	display: block;
}
.speaker-inner:hover .speaker-icons.product-advice {
	display: none;
}
.speaker-inner:hover .speaker-icons.training-hover {
	display: block;
}
.speaker-inner:hover .speaker-icons.training {
	display: none;
}
/*active-icon*/
.speaker-inner.active .speaker-icons.setup-install-hover {
	display: block;
}
.speaker-inner.active .speaker-icons.setup-install {
	display: none;
}
.speaker-inner.active .speaker-icons.troubleshooting-hover {
	display: block;
}
.speaker-inner.active .speaker-icons.troubleshooting {
	display: none;
}
.speaker-inner.active .speaker-icons.product-advice-hover {
	display: block;
}
.speaker-inner.active .speaker-icons.product-advice {
	display: none;
}
.speaker-inner.active .speaker-icons.training-hover {
	display: block;
}
.speaker-inner.active .speaker-icons.training {
	display: none;
}
.speaker-icons.training-hover, .speaker-icons.product-advice-hover, .speaker-icons.troubleshooting-hover, .speaker-icons.setup-install-hover {
	display: none;
}
.row.inner-grid {
	padding: 30px 20px;
}
.installed-proceduer {
	margin: 0 auto;
	text-align: center;
	width: 50%;
}
.installed-proceduer ul {
	list-style-type: none;
	padding-left: 0;
	margin: 0px;
}
.installed-proceduer li {
	border-bottom: 1px solid #ddd;
	color: #646464;
	cursor: pointer;
	display: block;
	font-size: 22px;
	padding: 13px 0;
}
.installed-proceduer li:hover {
	border: 2px solid #9acd32;
	color: #9acd32;
	border-radius: 5px;
}
.installed-proceduer li.active {
	border: 2px solid #9acd32;
	border-radius: 5px;
	cursor: pointer;
	color: #9acd32;
}
/*kamal css start here*/
#wizards .modal-header {
	background: none;
	border-bottom: medium none;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	display: inline-block;
	min-height: 16.43px;
	padding: 4px;
	position: relative;
	/**top: 8px;**/
	width: 100%;
	z-index: 9999;
}
.installed-proceduer li.modal-detail:hover {
	border: none;
	border-bottom: 1px solid #ddd;
}
.installed-proceduer li.active.modal-detail {
	border: none;
	border-bottom: 1px solid #ddd;
}
#msform li.modal-detail input {
	font-weight: normal;
	height: 38px;
	border: 1px solid #ddd;
	margin-bottom: 0 !important;
	padding: 0 15px !important;
	text-align: center;
	background: #f3f3f3;
	width: 80%;
	color: #000;
	border-radius: 2px;
}
#msform li.modal-detail input:hover {
	border-color: #bfbfbf;
}
#msform li.modal-detail input:focus {
	border-color: #9acd32;
	background: #fff;
}
#msform .installed-proceduer .comment-textarea {
	background: none repeat scroll 0 0 #f3f3f3;
	color: #000;
	height: 125px;
	line-height: 20px;
	padding: 5px 15px;
	border-radius: 2px;
	margin-bottom: 0px;
}
#msform .installed-proceduer .comment-textarea:hover {
	border-color: #bfbfbf;
}
#msform .installed-proceduer .comment-textarea:focus {
	border-color: #9acd32;
	background: #fff;
}
#msform .check-coverage.action-button {
	font-size: 16px;
	margin-top: 15px;
}
#msform input.zip-input {
	background: none repeat scroll 0 0 #f3f3f3;
	border: 1px solid #ddd;
	color: #000;
	height: 45px;
	padding: 0 15px;
}
.installed-proceduer > p {
	color: #353535;
	font-size: 19px;
	margin-bottom: 0;
}
.installed-proceduer > p a {
	color: #9acd32;
}
.installed-proceduer > p a:hover {
	text-decoration: underline;
}
#msform input.zip-input:hover {
	border-color: #bfbfbf;
}
#msform input.zip-input:focus {
	border-color: #9acd32;
	background: #fff;
}
/*new css start here*/
.service-hours h4 {
	width: 100%;
	font-size: 17px;
	text-align: left;
	display: inline-blockk;
	padding-bottom: 5px;
	color: #353535;
	border-bottom: 1px solid #dddddd;
}
.service-hours table caption {
	color: #9acd32;
	font-size: 22px;
	background: #f9f9f9;
	border-top: 1px solid #dddddd;
	border-left: 1px solid #dddddd;
	border-right: 1px solid #dddddd;
	padding: 10px 15px; width:100%;
}
.service-hours .table.table-bordered p {
	font-size: 18px;
	color: #353535;
	padding: 0px 15px;
	margin: 0px;
}
.service-hours .table.table-bordered span {
  float: left;
  line-height: 15px;
  padding: 5px 15px 3px;
  text-align: left;
  width: 100%;
  word-wrap: break-word;
}
.service-hours .table.table-bordered h3 {
	margin: 0px;
}
.service-hours .table.table-bordered a i {
	font-size: 35px;
	color: #353535;
	margin-top: 10px;
}
.service-hours .table.table-bordered a i:hover {
	color: #ff5444;
}
.on-discount {
	border-right: 1px solid #ddd;
	text-align: left;
}
.on-discount h3 {
	width: 100%;
	font-size: 22px;
	text-align: left;
	display: inline-blockk;
	padding-bottom: 5px;
	color: #353535;
	border-bottom: 1px solid #dddddd;
}
#msform .action-button.Another_Service {
	background: #353535;
}
.row.on-discount {
	display: inline-block;
	text-align: center;
	width: 100%;
}
#password_reset {
	background: #fff none repeat scroll 0 0;
	padding: 30px;
	width: 40%;
}
#password_reset p {
	display: none;
}
#password_reset button {
	background: #9acd32 none repeat scroll 0 0;
	border: 0 none;
	border-radius: 41px;
	color: white;
	cursor: pointer;
	display: inline-block;
	font-size: 19px;
	font-weight: normal;
	margin: 20px 0 0;
	padding: 8px 5px;
	width: 170px;
}
#password_reset button:hover {
	background: #9acd32 none repeat scroll 0 0;
	box-shadow: 0 0 0 2px white, 0 0 0 3px #9acd32;
}
#confpassword {
	background: #ffffff none repeat scroll 0 0;
	border: 1px solid #cccccc;
	border-radius: 0;
	color: #888888;
	font-size: 16px;
	font-weight: 400;
	height: 44px;
	line-height: 22px;
	margin-top: -1px;
	padding-left: 10px;
	width: 100%;
}
#msform .action-button.Another_Service:hover, #msform .action-button.Another_Service:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #353535;
}
.discount-next {
	position: absolute;
	bottom: 196px;
	right: 25px;
}
.next.action-button.sign-btn {
	padding: 0px !important;
	background: none !important;
	width: auto !important;
	color: #9acd32 !important;
}
.next.action-button.sign-btn:hover, .next.action-button.sign-btn:focus {
	box-shadow: none !important;
}
p.already-account {
	display: inline;
	width: auto;
}
.breadcrumb {
	margin-bottom: 0px;
	width: auto;
	text-align: left;
}
#wizards.popup .close {
	position: absolute;
	top: 5px;
}
.btn.btn-success.btn_pop.btn_o {
	background: #ffffff none repeat scroll 0 0;
	border: medium none;
	border-radius: 84px;
	height: 90px;
	margin-left: 14px;
	padding: 10px;
	text-align: center;
	width: 90px;
}
.btn.btn-success.btn_pop.btn_o img {
	width: 70px;
}
.btn.btn-success.btn_pop.btn_o img.logo-green {
	display: none;
}
.btn.btn-success.btn_pop.btn_o:hover img.logo-green {
	display: block;
}
.btn.btn-success.btn_pop.btn_o:hover img.logo-orgnl {
	display: none;
}
.nav.navbar-nav.nav_log.pull-left {
	float: right;
	margin: 0 auto;
	text-align: center;
	width: 40%;
}
.nav.navbar-nav.nav_log li.login_btn {
	background: #ffffff none repeat scroll 0 0;
	margin-top: 7px;
	float: right; outline:none;
}
.nav.navbar-nav.nav_log li.login_btn a {
	color: #9acd32; outline:none;
}
.slide_cont > h4 {
	color: #ffffff;
	font-size: 25px;
	font-weight: bold;
}
.copyright ul {
	float: left;
	margin: 0px;
	padding: 0px;
}
.copyright ul li {
	margin: 0px;
	padding: 0px;
	display: inline-block;
	line-height: normal;
}
.copyright ul li a {
	color: #d9d9d9;
	line-height: normal;
	padding: 0px 10px;
	margin: 0px;
}
#msform .action-button.forgot-password {
	color: #353535;
	background: none;
	border-radius: none;
	padding: 0px;
	font-size: 17px;
	text-decoration: underline;
}
#msform .action-button.forgot-password:hover {
	text-decoration: none;
	box-shadow: none;
}
#msform .login-popup input {
	text-align: center;
	font-size: 17px;
}
ul.social-login {
	margin: 15px 0px 0px 0px;
	padding: 0px;
	display: inline-block;
}
ul.social-login li {
	margin: 0px 5px;
	padding: 0px;
	display: inline-block;
}
h2.forgot-heading {
	font-size: 36px;
}
p.p-alert {
	color: #e56464;
}
.thanks-row {
}
.installed-proceduer.thanks {
	width: 80%;
	border-top: 1px solid #e3e3e3;
	padding-top: 20px;
}
.navbar-header.appointment-page {
	width: auto;
}
section.appointment {
	padding-top: 80px; padding-bottom:80px;
}
.form-control-feedback.fa.fa-times {
  top: 28px;
}
.form-control-feedback.fa-cc-visa.fa.fa-check {
  top: 25px;
}
.form-control-feedback.fv-icon-no-label.fa.fa-check {
  top: 25px;
}
.apply input{ padding:0;} 
#account_nav {
	background: #333b53 none repeat scroll 0 0;
	margin: 0;
	min-height: 75px;
}
#account_nav .collapse.navbar-collapse {
	margin-top: 17px; 
}
.table.order td {
  word-wrap: break-word;
}
#account_nav .active > a {
	background: none;
	color: #9acd32;
}
#account_nav ul li a {
	border-right: 1px solid #fff;
	color: #fff;
	font-size: 16px;
	padding: 0px 15px;
	text-transform: uppercase;
}
#account_nav button {
	background: #9acd32 none repeat scroll 0 0;
	border: medium none;
	border-radius: 20px;
	color: #fff;
	font-size: 16px;
	padding: 10px 25px;
}
.account_button {
	margin-top: 10px; margin-left:10px !important; 
}
#account_nav ul li {
	margin-top: 10px;
}
#updt {
  margin-top:0 !important;
  padding:0 !important;
}
#account_nav ul li {
	margin-top: 10px;
}
.active.logo_account {
	margin: 0 !important;
}
.logo_account a {
	border: none !important;
}
.nav.navbar-nav.navbar-right a {
	border: none !important;
}
.phn_icon > a {
	padding: 0 !important;
	position: relative;
	right: -33px;
	top: 3px;
}
#heros td {
  width: 163px !important;
  word-wrap: break-word;
}
.account_button {
	margin: 0 !important;
}
.fa.fa-phone {
	color: #9acd32;
	font-size: 21px;
}
.account_form h2 {
  margin: 0 0 20px 20px;
  text-align: left;
}
.account_left {
	background: #f6f8fa none repeat scroll 0 0;
	border: 1px solid #eaeaea;
	padding: 0 30px; margin-bottom:15px;
}
.account_fm h3 {
	font-size: 24px;
	color: #4a5255;
	font-family: Source Sans Pro;
	margin-bottom: 15px;
}
.account_fm label {
	color: #203138;
	font-family: Source Sans Pro;
	font-size: 18px;
	font-weight: lighter;
}
.account_fm input[type="text"] {
	border: 1px solid #dddddd;
	height: 40px;
	width: 100%;
	margin-bottom: 15px;
}
.account_fm_rt input[type="text"] {
	border: 1px solid #dddddd;
	height: 40px;
	width: 100%;
	margin-bottom: 20px;
	padding: 0 15px;
	color: #203138;
}
.account_fm input[type="email"] {
	border: 1px solid #dddddd;
	height: 40px;
	width: 100%;
	margin-bottom: 15px;
}
.account_fm input[type="password"] {
	border: 1px solid #dddddd;
	
	width: 100%;
	margin-bottom: 15px;
}
.account_fm input[type="tel"] {
	border: 1px solid #dddddd;
	height: 40px;
	width: 100%;
	margin-bottom: 15px;
}
.account_fm_rt input[type="tel"] {
	border: 1px solid #dddddd;
	height: 40px;
	width: 100%;
	margin-bottom: 20px;
	padding: 0 15px;
	color: #203138;
}
.account_fm_rt input[type="date"] {
	border: 1px solid #dddddd;
	height: 40px;
	width: 100%;
	margin-bottom: 20px;
	padding: 0 15px;
	color: #203138;
}
.account_fm {
	width: 100%;
}
.update_changes > button {
	background: #9acd32 none repeat scroll 0 0;
	border: medium none;
	border-radius: 20px;
	color: #fff;
	font-family: Source Sans Pro;
	font-size: 16px;
	height: 40px;
	padding: 0;
	text-align: center;
	width: 156px;
}
.cancel > button {
	background: #353535 none repeat scroll 0 0;
	border: none;
	border-radius: 20px;
	height: 40px;
	width: 100px;
	color: #fff;
	font-size: 16px;
	font-family: Source Sans Pro;
}
.cancel {
	text-align: center;
}
.apply > button {
	background: #9acd32 none repeat scroll 0 0;
	border: none;
	border-radius: 20px;
	height: 40px;
	width: 100px;
	color: #fff;
	font-size: 16px;
	font-family: Source Sans Pro;
}
.apply_1 > button {
	background: #9acd32 none repeat scroll 0 0;
	border: none;
	border-radius: 20px;
	height: 40px;
	width: 150px;
	color: #fff;
	font-size: 16px;
	font-family: Source Sans Pro;
}
.submition {
	float: left;
	margin-bottom: 15px;
	width: 100%; 
}
.col-md-4.spacing {
	padding: 0;
}
.col-md-5.spacing {
	padding: 0;
}
.account_fm > h2 {
	float: left;
	font-size: 15px;
	font-weight: lighter;
	margin: 14px 0 30px;
}
.submition p {
	color: #e56464;
	font-size: 16px;
	font-weight: 100;
	margin: 10px 0 20px;
}
.col-md-3.spacing {
	padding: 0;
}
/* SQUARED TWO */
.squaredTwo {
	border: 1px solid #9acd32;
	float: left;
	height: 20px;
	margin: 10px 20px 0 0;
	position: relative;
	width: 20px;
}
.squaredTwo label {
	cursor: pointer;
	position: absolute;
	width: 20px;
	height: 20px;
	left: 4px;
	top: 4px;
}
.squaredTwo label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	content: '✓';
	position: absolute;
	width: 9px;
	height: 5px;
	top: -8px;
	color: #9ACD32;/* left: 4px;
	border: 3px solid #fcfff4;
	border-top: none;
	border-right: none;
	background: url(../../hero/hero/dist/img/tick.png);
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	background: #9acd32; */
}
.squaredTwo label:hover::after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: 0.3;
}
.squaredTwo input[type=checkbox]:checked + label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}
.squaredTwo > input {
	display: none;
}
.col-md-3.kk {
	padding-left: 0;
}
.col-md-4.kk {
	padding-left: 0;
}
/*-----------*/
td h4 {
	color: #646464;
	font-size: 13px;
	margin: 0;
}
td p {
	font-size: 15px;
	color: #000;
	margin: 5px 0;
}
td h3 {
	color: #9acd32;
	font-size: 16px;
	font-weight: 600;
	margin: 0;
}
td h2 {
	font-size: 15px;
	color: #000;
}
td h5 {
	font-size: 20px;
	color: #000;
}
.person {
	text-align: center;
}
.app_cancel > button {
	background: #9acd32 none repeat scroll 0 0;
	border: medium none;
	border-radius: 20px;
	color: #fff;
	display: inline-block;
	font-size: 14px;
	height: 35px;
	margin-top: 17px;
	width: 100px;
}
.app_cancel > button:hover, .app_cancel > button:focus {
	background: #9acd32;
	outline: none;
}
.person > img {
	margin-left: 70px;
	margin-top: 10px;
}
.table {
	float: left;
	width: 100%;    table-layout: fixed;
}
.table_header {
	float: left;
	width: 100%;
}
.upcoming {
	float: left;
	width: 50%;
	background: #9acd32;
	text-align: center;
}
.upcoming h2 {
	background: #9acd32;
	color: #fff;
	font-size: 20px;
	margin: 10px 0;
}
.complete {
	background: #333;
	color: #fff;
	float: left;
	text-align: center;
	width: 50%;
}
.complete h2 {
	font-size: 20px;
	margin: 10px 0;
}
.appointment_left > h2 {
	color: #4a5255;
	font-size: 30px;
	margin: 30px 0;
}
.appointment_rt {
	float: left;
	padding-top: 90px;
	width: 100%;
}
.services {
	border-bottom: 1px solid #eaeaea;
	padding: 15px 0;
	text-align: center;
	width: 100%;
}
.services > h2 {
	font-size: 20px;
	text-transform: uppercase;
}
.services > p {
	color: #646464;
	font-size: 17px;
	font-weight: lighter;
}
.services:last-child {
	border: medium none;
}
.appointment-modal .modal-header {
	background: #f1f1f1;
	position: relative;
	min-height: 40px;
}
.appointment-modal .modal-header button.close {
	margin-top: -10px;
	font-size: 32px;
}
.appointment-modal h3 {
	margin-top: 0px;
}
.appointment-modal .m-f-part {
	border-right: 1px solid #e3e3e3;
}
.appointment-modal .modal-footer {
	padding-left: 0px;
	padding-right: 0px;
}
.appointment-modal .modal-footer button {
	width: 100%;
	color: #fff;
	border-radius: 20px;
}
.appointment-modal .modal-footer button.yes-btn {
	background: #9acd32;
	border-color: #9acd32;
}
.appointment-modal .modal-footer button.black-btn {
	background: #353535;
	border-color: #353535;
}
span.need-h {
	color: #fff;
	font-size: 30px;
	font-weight: bold;
	display: inline-block;
	margin-top: 20px;
}
/**************************************
             New popup css
**************************************/
.modal.in .modal-dialog {
	max-width: 800px;
}
form.first-form {
	width: 100%;
}
ul.p-form {
	width: 100%;
	display: inline-block;
	margin: 0px;
	padding: 0px;
	text-align: center;
}
ul.p-form li {
	margin: 5%;
	padding: 0px;
	display: inline-block;
	float: none;
	cursor: pointer;
	font-weight: normal;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
ul.p-form li i {
	font-size: 80px;
	clear: both;
	display: inline-block;
	width: 100%;
	cursor: pointer;
}
ul.p-form li span {
	font-size: 18px;
	clear: both;
	display: inline-block;
	width: 100%;
	cursor: pointer;
}
ul.p-form li:hover i, ul.p-form li:hover span {
	color: #9ACD32;
}
ul.p-form li.current span {
	color: #9ACD32;
}
ul.p-form li.current i {
	color: #9ACD32;
}
ul.p-form li input[type="radio"] {
	margin: 1px;
	position: absolute;
	z-index: 2;
	cursor: pointer;
	outline: none;
	opacity: 0; /* CSS hacks for older browsers */
 _noFocusLine: expression(this.hideFocus=true);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	-khtml-opacity: 0;
	-moz-opacity: 0;
}
.next-popup {
	text-align: center;
}
.action-button {
	background: none repeat scroll 0 0 #9acd32;
	border: 0 none;
	border-radius: 41px;
	color: white;
	cursor: pointer;
	font-size: 19px;
	font-weight: normal;
	margin: 0px;
	padding: 8px 5px;
	width: 170px;
	display: inline-block;
}
.action-button:hover, .action-button:focus {
	background: none repeat scroll 0 0 #9acd32;
	box-shadow: 0 0 0 2px white, 0 0 0 3px #9acd32;
}
ul.installing-list {
	width: 100%;
	display: inline-block;
	margin: 0px;
	padding: 0px;
	text-align: center;
}
ul.installing-list li {
  color: #79797a;
  cursor: pointer;
  display: inline-block;
  float: left;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: normal;
  margin: 0 20px 0 0;
  padding: 0;
  width: 30%;
}

ul.installing-list i {
	font-size: 80px;
	clear: both;
	display: inline-block;
	width: 100%;
	cursor: pointer;
}
ul.installing-list li span {
	font-size: 18px;
	clear: both;
	display: inline-block;
	width: 100%;
	cursor: pointer;
	font-weight: normal;
}
ul.installing-list li:hover i, ul.installing-list li:hover span {
	color: #9ACD32;
}
ul.installing-list li.current span {
	color: #9ACD32;
}
ul.installing-list li.current i {
	color: #9ACD32;
}
ul.installing-list li input[type="radio"] {
	margin: 1px;
	position: absolute;
	z-index: 2;
	cursor: pointer;
	outline: none;
	opacity: 0; /* CSS hacks for older browsers */
 _noFocusLine: expression(this.hideFocus=true);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	-khtml-opacity: 0;
	-moz-opacity: 0;
}
.on-discount {
	display: inline-block;
	width: 100%;
	border-right: none;
}
.modal {
	overflow-y: auto;
}
.check-coverage.action-button {
	margin-top: 20px;
}
.action-button.Another_Service {
	margin-right: 15px;
	background: #545454;
}
button.forgot-password {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	border: medium none;
	float: left;
	margin-top: 15px;
	margin-left: 15px;
}
.check-coverage.action-button.sign-btn {
	margin-top: 0px;
}
.f-btn {
	margin-top: 25px;
}
input[type="password"] {
	background: #ffffff none repeat scroll 0 0;
	border: 1px solid #cccccc;
	border-radius: 0;
	color: #888888;
	font-size: 16px;
	font-weight: 400;
	height: 44px;
	line-height: 44px;
	margin-top: -1px;
	padding-left: 13px;
	width: 100%;
}
.breadcrumb {
	background: none;
	padding: 10px 0px;
}
.modal.in .modal-dialog .modal-header {
	padding: 0px 15px;
}
.modal-header .close {
	font-size: 45px;
}
.modal-header {
	border-bottom: none;
	display: inline-block;
	width: 100%;
}
.first-signin {
	margin-top: 15%;
}
.first-register {
	margin-top: 10%;
}
.col-sm-1 > img {
	margin-left: -10px;
}
.home-login h2 {
	width: 100%;
	margin-bottom: 0px;
	margin-top: 15px;
}
.home-login button.close {
	position: absolute;
	right: 5px;
	top: 0px;
}
a.new-here {
	display: inline-block;
	text-align: center;
	margin-top: 20px;
}
.pop-prt {
	margin-top: 42px;
}
h3.user-coount-heading {
	margin-top: 100px;
}
.first-forget-password {
	margin-top: 15%;
}
form.fv-form.fv-form-bootstrap {
	width: 100%;
}
#msform .btn.btn-primary.btn-block.btn-lg.disabled, #msform .btn.btn-primary.btn-block.btn-lg {
	background: #9acd32 none repeat scroll 0 0;
	border: 0 none;
	border-radius: 41px;
	color: white;
	cursor: pointer;
	font-size: 19px;
	font-weight: normal;
	margin: 0 5px;
	padding: 0px 5px;
	text-align: center;
	width: 160px;
	border-radius: 30px;
}
.update_changes > button:hover, .update_changes > button:focus {
	background: #6a990b;
}
.btn.btn-primary.btn-block.btn-lg:hover, .btn.btn-primary.btn-block.btn-lg:focus {
	background: #6a990b;
}


/**************************************
        New admin section  css
**************************************/

section.admin-login {padding-top: 80px;}
.admin-form{width:100%;}
.admin-form-header{margin:80px 0px 30px 0px;}
span.admin-icon{background:#9ACD32; color:#fff; min-width:50px; font-size:24px;}
.admin-form input[type="password"], .admin-form input[type="text"]{margin-top:0px;}
.admin-form input[type="password"]:hover, .admin-form input[type="password"]:focus, .admin-form input[type="text"]:hover, .admin-form input[type="text"]:focus{border-color:#9ACD32;}

.password-recovery{margin-top:20px; border-top:1px solid #e3e3e3; padding-top:20px; display:inline-block; width:100%;}
.admin-btn{width:120px;}

ul.appointment-tab{width:100%; margin:0px; padding:0px;}
ul.appointment-tab li{margin:0px; padding:0px; display:inline-block; width:25%; text-align:center; font-size:18px; float:left; position:relative;}
ul.appointment-tab li i{ width:100%; font-size:26px;}
ul.appointment-tab li a{background:#ebeeee; color:#9acd32; width:100%; float:left; padding:20px 0px;}
ul.appointment-tab li.active a{background:#fff; color:#333b53;}
ul.appointment-tab li.active a::after {border-color: #fff transparent; border-style: solid;  border-width: 15px 15px 0;  bottom: -15px; content: "";    display: block;  left: 41%;  position: absolute;  width: 0;}
ul.appointment-tab li a:hover, ul.appointment-tab li a:focus{background:#fff; text-decoration:none; color:#333b53; outline:none;}
ul.appointment-tab li a:hover::after, ul.appointment-tab li a:focus::after{border-color: #fff transparent; border-style: solid;  border-width: 15px 15px 0;  bottom: -15px; content: "";    display: block;  left: 41%;  position: absolute;  width: 0;}

ul.appointment-tab li a{border-right:1px solid #dcdcdc;}
.manage-heros{width:100%; float:left; background:#f5f6f6; padding:20px; margin:30px 0px; }
.manage-heros-table .panel-heading h3{margin:0px;}
.asng-hero {
  padding: 10px;
}
.paid-amount span{font-size:22px; margin-left:10px; font-weight:bold;}
.create-hero-form{width:100%; margin-top:15px;}
.input.text.required{ width:100%;}
#testimonial {
  height: 160px !important;
  width: 330px !important;
}
body .asng-hero .navbar-form.navbar-left{ float:none !important;}
#hero_data {
  padding: 0 0 0 10px;
}
#btn_assign {
  margin-top: 12px;
}
#hero_data h4 {
  color: red;
  margin-left: 0;
  margin-top: 10px;
}

#heroForm{ width:100%;}
#heros a:hover{ color:#000;}
#heros a:active{ color:#000;}
.actions > a:hover{ color:#000;}
.actions > a:active{ color:#9acd32 !important;}
#customers a:hover{ color:#9acd32 !important;}
#customers a:active{ color:#9acd32 !important;}
#update {
  margin-left: 91px;
  padding: 0;
  text-align: center;
}
.create-hero-form input[type="text"], .create-hero-form input[type="email"], .create-hero-form input[type="password"]{height:40px;}
.create-hero-form label{float:left; font-weight:normal;  margin-right:15px;}
.create-hero-form input[type="radio"]{margin-right:5px;}
.create-hero-form .crt-btn{display:inline-block; width:100%; margin-top:10px;}

.appointment-content{width:100%; float:left; }

#hero_admin th {
  width: 150px;
}
#add_hour .form-control{ width:93%; margin:0 10px; padding:0 10px;}
form.form-search{width:100%; margin-top:5px;}
.form-search input[type="text"]{height:34px; margin-top:0px; border-radius:20px; border-left:none;}
button.searching-btn{border-radius:20px; border-right:none;}
.hero-creat{width:auto; padding:5px 25px; font-size:18px;} 
.hero-creat i{margin-right:8px;}
.manage-heros-table {
  border-top: 0 none;
  margin-top: 15px;
  padding:0;
  width: 100%;
}
.manage-heros-table table thead{background:#ddd;}
.manage-heros-table table.table{background:#fff;}
/*.footer {bottom: 0;  height: 60px;  position: absolute;  width: 100%;}*/





/*responsive css start here*/

@media (max-width:980px) {
.slide_cont {
	text-align: center;
}
.nav.nav-tabs {
	margin-top: 15px;
}
.nav.nav-tabs li {
	width: 23.5%;
	margin-right: 2%;
}
.nav.nav-tabs li:nth-child(2n) {
	margin-right: 2%;
}
.nav.nav-tabs li:nth-child(4n) {
	margin-right: 0px;
}
#account_nav ul li a{ padding:0 10px;}

}
 @media (max-width:768px) {
	 #account_nav ul li a{ padding:0 10px; border-right:none;}
.social-footer {
	float: none;
	margin-top: 23px;
	text-align: center;
}
.social-footer ul {
	display: inline-block;
	list-style-type: none;
	margin-bottom: 13px;
	padding: 0;
	text-align: center;
}
.footer {
	height: inherit;
	text-align: center;
}
.form_section {
	padding: 10px 0 20px;
	position: relative;
}
.left_text h3 {
	text-align: center;
}
.left_text p {
	text-align: center;
	padding-right: 0;
}
.test_cont i {
	color: #ffffff;
	font-size: 46px;
}
.test_cont {
	margin: 0 auto;
	text-align: center;
	width: 82%;
}
.carousel-inner .item p {
	color: #ffffff;
	font-size: 18px;
}
.media > li {
	padding: 12px;
	width: 48%;
}
.navbar.navbar-default.navbar-fixed-top.sticky .navbar-toggle {
	margin-top: 9px;
}
a.navbar-brand img {
	width: 140px;
}
.navbar-toggle {
	background-color: #ffffff;
	background-image: none;
	border: 1px solid rgba(0, 0, 0, 0);
	border-radius: 4px;
	float: right;
	margin-bottom: 8px;
	margin-right: 15px;
	margin-top: 23px;
	padding: 9px 10px;
	position: relative;
}
.tab-pane img {
	border: 1px solid #cccccc;
	height: inherit;
	width: 100%;
}
.nav.nav-tabs li {
	margin-bottom: 3px;
	margin-right: 15px;
	margin-top: 12px;
	width: 47.5%;
}
.nav.nav-tabs li {
	width: 23.5%;
	margin-right: 2%;
}
.nav.nav-tabs li:nth-child(2n) {
	margin-right: 2%;
}
.nav.nav-tabs li:nth-child(4n) {
	margin-right: 0px;
}
ul.appointment-tab li{ font-size:15px;}

}
 @media (max-width:767px) {.nav.navbar-nav{ width:100%;} #customers.table {
  display: block;
  overflow-x: scroll;
  table-layout: fixed;
  width: 100%;
}#heros.table{ display: block;
  overflow-x: scroll;
  table-layout: fixed;
  width: 100%;} }
 .navbar-toggle.collapsed {
  border-radius: 0 !important;
  padding: 10px !important;
}
 
 
 
 
 @media (max-width:480px) {
.nav.nav-tabs li {
	margin-bottom: 3px;
	margin-right: 15px;
	margin-top: 12px;
	width: 47%;
}
.testimonials.parascroll h2 {
	color: #ffffff;
	font-size: 33px;
	font-weight: lighter;
	margin-top: 20px;
	text-align: center;
	text-shadow: none;
}
.slide_cont h2 {
	font-size: 37px;
}
.slide_cont {
	margin-top: 148px;
}
.test_cont {
	margin: 0 auto;
	text-align: center;
	width: 88%;
}
.test_cont i {
	color: #ffffff;
	font-size: 45px;
	text-align: center;
}
.carousel-inner .item p {
	color: #ffffff;
	font-size: 17px;
	font-style: italic;
}
.top_header {
	margin: 0 auto 34px;
	width: 94%;
}
.form_section {
	padding: 0 0 16px;
	position: relative;
}
.social-footer {
	float: none;
	margin-top: 23px;
	text-align: center;
}
.social-footer ul {
	display: inline-block;
	list-style-type: none;
	margin-bottom: 13px;
	padding: 0;
	text-align: center;
}
.footer {
	height: inherit;
	text-align: center;
}
.cta-3 form {
	border-radius: 3px;
	padding: 10px;
}
#customers.table {
  display: block;
  overflow-x: scroll;
  table-layout: fixed;
  width: 100%;
}
.manage-heros{ padding:0;}
#heros.table{ display: block;
  overflow-x: scroll;
  table-layout: fixed;
  width: 100%;}
  .navbar-toggle.collapsed {
  border-radius: 0 !important;
  padding: 10px !important;
}
.navbar-toggle{  border-radius: 0 !important;
  padding: 10px !important;}
}

.form-control-feedback.fv-icon-no-label.glyphicon-ok.fa.fa-check{ top:0;}

/*kamal css start here*/
.visible button#start-conferencing {
  background: #f7f7f7 none repeat scroll 0 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  color: #6c6c6c;
  font-size: 16px;
  padding: 9px 30px;
  width: 100%;
}
.account_form #chat-table input#chat-message {
  background: #fcfcfc none repeat scroll 0 0;
  border: 1px solid #e9e9e9;
  border-radius: 5px;
  float: left;
  font-size: 14px;
  height: 46px;
  margin-bottom: 10px;
  padding-left: 15px;
  width: 67%;
}
.account_form #chat-table input#chat-message:focus{
	 border: 1px solid #9acd32;
}






table.visible {
  width: 100%;
}
.account_form .col-sm-6.col-sm-offset-3.padding-off {
  background: #f7f7f7 none repeat scroll 0 0;
  border: 1px solid #ededed;
  margin-top: 30px;
  max-height: 480px;
  overflow-x: hidden;
  padding: 30px;
}
.account_form .send_link {
  float: unset;
  margin: 20px auto;
  text-align: center;
}
/*need to modify*/
/*table#chat-table {
  display: table !important;
  font-size: large;
  width: 100%;
}*/
/*need to modify close*/
.btn.btn-primary.action-button.hero-creat.editable-table {
  margin-bottom: 0px;
  margin-top: 0px;
}
#chat-output tr.user-right-message {
  float: right;
  text-align: right;
}
#chat-output tr.user-right-message td {
  float: right;
  padding-left: 10px;
  text-align: right !important;
  width: auto !important;
}
#chat-output.visible {
  display: table !important;
}
div#videos-container {
    margin-top: 14%;
}

.media-container {
    width: 50% !important;
}
.media-container:last-child  {
    position: absolute !important;
    width: 300px !important;
    height:200px !important;
    top: 0; left: 0;
}
a.btn.btn-primary.action-button.hero-creat {
    margin-top: 0;
    margin-bottom: 120px;
}
li.maked {
    background: none !important;
    padding-right: 0px !important;
    padding-left: 5px !important;
}
.manage-heros a.videoChat.btn.btn-primary.action-button.hero-creat{
	padding: 10px 30px !important;
}
.manage-heros a.screenSharing.btn.btn-primary.action-button.hero-creat{
	padding: 10px 30px !important;	
}
.manage-heros  a.textChat.btn.btn-primary.action-button.hero-creat{
	padding: 10px 30px !important;	
}
.manage-heros  a.videoChat.btn.btn-primary.action-button.hero-creat:hover {
    background: none repeat scroll 0 0 #9acd32;
    box-shadow: 0 0 0 2px white, 0 0 0 3px #9acd32;
}
.manage-heros a.screenSharing.btn.btn-primary.action-button.hero-creat:hover {
    background: none repeat scroll 0 0 #9acd32;
    box-shadow: 0 0 0 2px white, 0 0 0 3px #9acd32;
}
.manage-heros a.textChat.btn.btn-primary.action-button.hero-creat:hover {
    background: none repeat scroll 0 0 #9acd32;
    box-shadow: 0 0 0 2px white, 0 0 0 3px #9acd32;
}





/**share screen page css**/
.share-screen{margin-top: 60px;}
ul.install-browser{margin: 0px; padding: 0px; width: auto; float: left;}
ul.install-browser li{display: inline-block; margin-right: 20px;}
.share-link{text-align: center;}
div#videos-container{ margin-top: 20px;}
#videos-container video{width: 100%; background: #eee;}
.setup{width: 210px; float:right; }
.setup i{margin-right: 5px;}
.s-screen{padding-top: 10px;}
.experiment > h2{margin: 30px 0px;}


.nav.navbar-nav.navbar-right.nav_log span{float: right;}
.nav.navbar-nav.navbar-right.nav_log p{margin-bottom: 0px;}
.tech_wizard.lgo{display: none;}




