<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
     <head>
     <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
     <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
     <title>Hero- The Digital Handyman</title>
     
     <style type="text/css">
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500);
/* Client-specific Styles */

#outlook a {
	padding: 0;
} /* Force Outlook to provide a "view in browser" menu link. */
body {
	width: 100% !important;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	margin: 0;
	padding: 0;
}
/* Prevent Webkit and Windows Mobile platforms from changing default font sizes, while not breaking desktop design. */
.ExternalClass {
	width: 100%;
} /* Force Hotmail to display emails at full width */
.ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {
	line-height: 100%;
} /* Force Hotmail to display normal line spacing.  More on that: http://www.emailonacid.com/forum/viewthread/43/ */
#backgroundTable {
	margin: 0;
	padding: 0;
	width: 100% !important;
	line-height: 100% !important;
}
img {
	outline: none;
	text-decoration: none;
	border: none;
	-ms-interpolation-mode: bicubic;
}
a img {
	border: none;
}
.image_fix {
	display: block;
}
p {
	margin: 0px 0px !important;
}
table td {
	border-collapse: collapse;
}
table {
	border-collapse: collapse;
	mso-table-lspace: 0pt;
	mso-table-rspace: 0pt;
}
a {
	color: #33b9ff;
	text-decoration: none;
	text-decoration: none!important;
}
/*STYLES*/
table[class=full] {
	width: 100%;
	clear: both;
}
		 
         /*IPAD STYLES*/
      @media only screen and (max-width: 640px) {
a[href^="tel"], a[href^="sms"] {
	text-decoration: none;
	color: #33b9ff; /* or whatever your want */
	pointer-events: none;
	cursor: default;
}
.mobile_link a[href^="tel"], .mobile_link a[href^="sms"] {
	text-decoration: default;
	color: #33b9ff !important;
	pointer-events: auto;
	cursor: default;
}
table[class=devicewidth] {
	width: 440px!important;
	text-align: center!important;
}
table[class=devicewidthinner] {
	width: 420px!important;
	text-align: center!important;
}
table[class=mainsmall1] {
	float: left!important;
}
table[class=mainsmall2] {
	float: right!important;
}
table[class=banner-gap] {
	display: none!important;
}
img[class="bannerbig"] {
	width: 440px!important;
	height: 371px!important;
}
img[class="spacinglines"] {
	width: 420px!important;
}
img[class="banner"] {
	width: 100%;
}
}
         /*IPHONE STYLES*/
      @media only screen and (max-width: 480px) {
a[href^="tel"], a[href^="sms"] {
	text-decoration: none;
	color: #33b9ff; /* or whatever your want */
	pointer-events: none;
	cursor: default;
}
.mobile_link a[href^="tel"], .mobile_link a[href^="sms"] {
	text-decoration: default;
	color: #33b9ff !important;
	pointer-events: auto;
	cursor: default;
}
table[class=devicewidth] {
	width: 100%!important;
	text-align: center!important;
}
table[class=devicewidthinner] {
	width: 260px!important;
	text-align: center!important;
}
table[class=mainsmall1] {
	float: left!important;
	width: 120px!important;
	height: 90px!important;
}
table[class=mainsmall2] {
	float: right!important;
	width: 120px!important;
	height: 90px!important;
}
img[class=mainsmall1] {
	width: 120px!important;
	height: 90px!important;
}
img[class=mainsmall2] {
	width: 120px!important;
	height: 90px!important;
}
table[class=banner-gap] {
	display: none!important;
}
img[class="bannerbig"] {
	width: 280px!important;
	height: 236px!important;
}
img[class="spacinglines"] {
	width: 260px!important;
}
img[class="view_mr"] {
	height: inherit !important;
	width: 100% !important;
}
img[class="banner"] {
	width: 100%;
}
p[class="more-services-text"]{
  font-size: 14px !important;
  line-height: 20px;
}


}
</style>
     </head>
     <?php 
				       $base_url_temp="http://" . $_SERVER['SERVER_NAME']."/";
				      				       ?>
     <body style="font-family: Helvetica, arial, sans-serif; background:#ebebeb;">
<table width="100%" bgcolor="#eee" cellpadding="0" cellspacing="0" border="0" id="backgroundTable" st-sortable="header">
       <tbody>
    <tr>
           <td></td>
         </tr>
  </tbody>
     </table>



<!-- Start of header -->
<table width="100%" bgcolor="#eee" cellpadding="0" cellspacing="0" border="0" id="backgroundTable" st-sortable="full-text">
       <tbody>
    <tr>
           <td><table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth" >
               <tbody>
               <tr>
                   <td width="100%"><table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
                       <tbody>
                       <!-- Spacing -->
                       <tr>
                           <td  bgcolor="#292929"><a href="<?php echo $base_url_temp;?>" target="_blank"><img class="banner" src="<?php echo $base_url_temp;?>img/email_images/header_1.png" alt="master banner"/></a></td>
                         </tr>
                       <!-- Spacing --> <!-- Spacing -->
                     </tbody>
                     </table></td>
                 </tr>
             </tbody>
             </table></td>
         </tr>
  </tbody>
     </table>
<!-- End of header --> 








<!-- Start of text -->
<table width="100%" bgcolor="#eee" cellpadding="0" cellspacing="0" border="0" id="backgroundTable" st-sortable="full-text">
       <tbody>
          <tr>
           <td><table width="600" bgcolor="#fff" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth" >
               <tbody>
               <tr>
                   <td width="100%"><table width="560" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
                       <tbody>
                       <!-- Spacing -->
                        <tr>
                          <td height="35"></td>
                       </tr>
                       <tr>
                          <td height="10"></td>
                       </tr>

                       <tr>
                          <td bgcolor="#fff" style="text-align: left; font-size: 17px; font-weight:lighter; line-height: 23px;"><span style="color:#000; font-size: 15px; line-height:23px; ">Click the link below to <?php echo $link_type; ?> </tr>
                       <tr>
                          <td height="15"></td>
                       </tr>
                       <tr>
                          <td bgcolor="#fff" style="text-align: left;  "><?php
				    echo '<a href="'.$share_link.'" ><img src="'.$base_url_temp.'img/email_images/button.png" /></a>';
				?></a></td>
                       </tr>
                         <tr>
                          <td height="15"></td>
                       </tr>

                       <tr>
                          <td height="10"> <b>NOTE : </b>You must be logged in into hero account to access  this URL</td>
                       </tr>
                        
                       <tr>
                          <td height="10"></td>
                       </tr>
                        <tr>
                       		<td style="text-align:left; font-size:15px; padding:0px 40px 0 0;">Thank You.</td>
                       </tr>
                        <tr>
                          <td height="10"></td>
                       </tr>
                       	<tr>
                          <td height="35"></td>
                       </tr>
                       <!-- Spacing --> <!-- Spacing -->
                     </tbody>
                     </table></td>
                 </tr>
             </tbody>
             </table></td>
         </tr>
        </tbody>
</table>
<!-- End of text --> 




<!-- more services text start here -->

<!-- more services text close here -->

<!-- text -->
<table width="100%" bgcolor="#eee" cellpadding="0" cellspacing="0" border="0" id="backgroundTable" st-sortable="full-text">
   <tbody>
      <tr>
         <td>
            <table width="600" bgcolor="111111" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
               <tbody>
                  <tr>
                     <td width="100%">
                        <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
                           <tbody>
                              <!-- Spacing -->
                              <tr>
                                 <td>
                                    <table width="560" align="center" cellpadding="0" cellspacing="0" border="0" class="devicewidthinner">
                                       <tbody>
                                          <!-- content -->
                                         
                                           
                                          
                                        
                                          <!-- content -->
                              		         <tr>
                                               <td height="10" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;">&nbsp;</td>
                                             </tr>
                                               <!--tr>
                                               		<td style="text-align:center;">
                                              		<a href="" style="margin-right: 7px;"><img src="<?php echo $base_url_temp;?>img/email_images/fb.png" /></a>
                                              		<a href="" style="margin-right: 7px;"><img src="<?php echo $base_url_temp;?>img/email_images/twitter.png" /></a>
                                               		<a href=""><img src="<?php echo $base_url_temp;?>img/email_images/google_plus.png" /></a>
                                               		</td>
                                               
                                             </tr-->
                                             <tr>
                                               <td height="15" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;">&nbsp;</td>
                                             </tr>
                                             
                                             
                                             
                                             
                                             
                                             
                                             
                                             
                                          <!-- End of content -->
                                       </tbody>
                                    </table>
                                 </td>
                              </tr>
                          </tbody>
                        </table>
                     </td>
                  </tr>
               </tbody>
            </table>
         </td>
      </tr>
   </tbody>
</table>
<!-- end of text -->


<!-- text -->

<!-- end of text -->


</body>
</html>
